/* main1.css */

/* ... (votre code CSS actuel) ... */

/* Icône de menu pour les petits écrans */
#toggle-menu {
    display: none; /* Masquer l'icône de menu sur les grands écrans */
}

/* Centrer le contenu de l'en-tête sur les ordinateurs */
#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Médias queries pour les appareils mobiles */
@media screen and (max-width: 768px) {
    /* Afficher l'icône de menu sur les petits écrans */
    #toggle-menu {
        display: block;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    /* Masquer le menu sur les grands écrans */
    #nav {
        display: none;
    }

    /* Afficher le menu déroulant sur les petits écrans lorsque l'icône est cliquée */
    #nav.show {
        display: flex;
        flex-direction: column;
        background-color: #1a1a1a; /* Noir ou gris foncé */
        padding: 10px;
        position: static; /* Modifier la position en statique pour que le menu soit intégré au flux de la page */
        z-index: 1; /* Assurer que le menu déroulant s'affiche au-dessus du contenu */
    }

    /* Réduire l'espace entre les liens de navigation dans le menu déroulant */
    #nav a {
        margin: 5px 0;
    }
}

/* Supprimer le marqueur de liste pour la classe "no-marker" */
.no-marker {
    list-style: none;
}
