/* main.css */

/* Réinitialisation de la marge et du remplissage pour tous les éléments */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Style de fond pour le corps de la page */
body {
    background-color: #1a1a1a; /* Noir ou gris foncé */
    font-family: Arial, sans-serif;
    color: #fff; /* Texte en blanc */
}

/* En-tête */
#header {
    background-color: #1a1a1a; /* Noir ou gris foncé */
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header .inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000; /* Rouge */
    text-decoration: none;
    margin-bottom: 10px;
}
#nav {
    display: flex; /* Afficher le menu en tant que barre de navigation horizontale */
}

#toggle-menu {
    display: block; /* Afficher le bouton de menu sur les petits écrans */
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#nav.show {
    /* Supprimez cette règle pour ne pas affecter le positionnement du menu sur les grands écrans */
}


#nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

#nav a:hover {
    text-decoration: underline;
}

/* Bannière */
#banner {
    background-image: url("url_de_votre_image.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#banner h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#banner .button {
    background-color: #ff0000; /* Rouge */
    color: #fff;
    padding: 12px 24px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

#banner .button:hover {
    background-color: #cc0000; /* Rouge plus sombre au survol */
}

/* Section Services */
#services {
    background-color: #1a1a1a; /* Noir ou gris foncé */
    padding: 50px 0;
}

/* Pied de page */
#footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer .inner {
    max-width: 1200px;
    margin: 0 auto;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* Médias queries pour les appareils mobiles */
@media screen and (max-width: 768px) {
    #header .inner {
        align-items: center;
    }

    #nav {
        display: none; /* Masquer le menu sur les grands écrans */
    }

    #nav.show {
        display: flex;
        flex-direction: column;
        background-color: #1a1a1a;
        padding: 10px;
        position: fixed;
        top: 60px;
        right: 20px;
        z-index: 1;
    }

    #nav a {
        margin: 5px 0;
    }
}
